{% extends "base.html" %}
{% block title %}О технологиях{% endblock %}
{% block header %}О технологиях{% endblock %}
{% block content %}
<!-- DIVIDER -->
<hr />
<!-- TABS -->
<h2>Tech</h2>
<!-- TABS NAVIGATION -->
<ul class="nav nav-tabs">
  <!-- TAB 1 -->
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#mp-tab-fashion" aria-expanded="true">Краткое инфо</a>
  </li>
  <!-- TAB 2 -->
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#mp-tab-wildlife" aria-expanded="false">Список технологий</a>
  </li>
</ul>
<!-- TABS CONTENT -->
<div class="eskimo-tabs-content tab-content">
  <!-- TAB 1 -->
  <div class="tab-pane fade active show" id="mp-tab-fashion" role="button" aria-expanded="true">
    <p>
      Это вторая скучная страница, на которую обычно никто не заходит.<br> Я действительно очень устал возиться с фронтом, хочется сделать что-то более нужное в бэке<br>
    </p>
  </div>
  <!-- TAB 2 -->
  <div class="tab-pane fade " id="mp-tab-wildlife" role="button" aria-expanded="false">
    <p>
      attrs==19.3.0 <br>   
      certifi==2019.9.11 <br>
      chardet==3.0.4<br>
      django==2.2.6<br>
      django-debug-toolbar<br>
      django_extensions<br>
      idna==2.8  <br>
      importlib-metadata==1.5.0 <br>
      ipython<br>
      flake8<br>
      more-itertools==8.2.0    <br>
      mypy<br>
      packaging==20.1  <br>
      pillow<br>
      pluggy==0.13.1 <br>
      py==1.8.1  <br>
      pyparsing==2.4.6 <br>
      pytest-django==3.8.0<br>
      pytest-pythonpath==0.7.3<br>
      pytest==5.3.5  <br>
      pytils<br>
      pytz==2019.3  <br>
      requests==2.22.0<br>
      six==1.14.0  <br>
      sorl-thumbnail==12.6.3<br>
      sqlparse==0.3.0<br>
      urllib3==1.25.6  <br>
      wcwidth==0.1.8 <br>
      zipp==2.2.0 <br>
      mixer==7.1.2<br>
    </p>
  </div>
{% endblock %}