{% extends 'base.html' %}
{% block content %}

<!-- PAGE TITLE -->
  <div class="eskimo-page-title">
    <h1><span>{{ author.get_full_name }}</span></h1>
    <p class="eskimo-page-subtitle">{{ author.username }}</p>
  </div>
<!-- ABOUT ME -->
  <div class="row">
    <div class="col-12 col-lg-8 order-2 order-lg-1">
      <p>
        <span class="lead text-white"><em>{{ author.about }}</em></span>
      </p>
    </div>
    <br>
    <div class="col-12 col-lg-4 order-1 order-lg-2 mb-5 mb-lg-0">
        <img src={{ author.avatar.url }} class="img-fluid mx-auto d-block eskimo-img-shadow" />
    </div>
  </div>
  {% include 'includes/devider.html' %}
  <br>
  <br>
  {% block sub_content %}

    <!-- {% load cache %}
    {% cache 20 index_page using key page %} -->

    <div class="eskimo-two-columns" data-columns>
      {% for post in page %}
        {% include "includes/post_item.html" with post=post %}
      {% endfor %}
    </div>
    
    {% include "includes/paginator.html" %}
    <!-- {% endcache %} -->

  {% endblock %}



{% endblock %}